@import url('reset.css');
@import url('layout.css');
@import url('modules.css');
@import url('state.css');

* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
}

font {
  font-size: 20px;
}

font:nth-of-type(2) {
  font-size: 25px;
  font-weight: 600;
}

.travel-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}