@import url('reset.css');
@import url('layout.css');
@import url('modules.css');
@import url('state.css');

* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}

h3 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
}