@import url("desktop.css") (min-width: 1000px);

/* Home Page Styling */
.hm-header-container {
  display: flex;
  justify-content: center;
}

#hm-header {
  width: 90%;
  height: 95px;
  position: absolute;
  top: 0;
  z-index: 5;
  padding: 20px 10px;
}

#hm-header img {
  width: 35%;
  height: 45px;
}

#hm-top {
  background-image: url(../images/main-image-300x105.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  color: white;
  width: 100%;
  height: 310px;
  line-height: 26px;
  margin-top: 30px;
  padding: 20px;
  font-size: 14px;
}

#hm-top h2 {
  font-size: 1.7em;
  margin-bottom: 15px;
  margin-top: 80px;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hm-buying-guide,
.hm-product-reviews {
  background-color: #F1F3F2;
  margin: 15px;
  width: 90%;
  line-height: 1.5;
  font-size: 1em;
}

.hm-buying-guide img {
  width: 100%;
}

.hm-buying-guide p{
  margin: 10px 0;
}

.hm-newsletter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #8C1515;
  color: white;
  line-height: 1.5;
  width: 90%;
  padding: 20px;
}

.hm-newsletter h3 {
  font-style: italic;
  font-weight: 600;
  font-size: 1.5em;
}

.hm-newsletter p {
  margin: 0px 10px;
  font-size: 1.2em;
}

.hm-newsletter-caps {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}

#newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#newsletter-form input,
button {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
}

.hm-product-reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 26px;
}

.hm-product-reviews img,
.hm-product-reviews h3,
.hm-product-reviews p {
  width: 100%;
  margin-bottom: 15px;
}

.hm-product-reviews a {
  padding: 7px;
  border: 1px solid #727370;
  color: #727370;
  width: 25%;
  text-align: center;
  position: relative;
  margin-left: 44px;
}

.hm-product-reviews a::after {
  content: '';
  background: url(../images/share-btn.png);
  background-color: #727370;
  position: absolute;
  width: 40px;
  height: 40px;
  left: -45px;
  top: 50%;
  margin-top: -20px;
  background-repeat: no-repeat;
  background-position: center;
}

.hm-read-more {
  background-color: #727370;
  padding: 10px;
  color: white;
  text-align: center;
}

.hm-read-more::before {
  content: url(../images/btn.png);
  padding-right: 10px;
}

#hm-unsure {
  background-image: url('../images/start-here-300x35.png');
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  width: 100%;
  height: 200px;
  padding: 60px;
  text-align: center;
  color: white;
  position: relative;
}

#hm-unsure h3 {
  font-size: 1.4em;
  margin-bottom: 20px;
}

#hm-unsure a {
  display: block;
  margin: 0 auto;
  color: black;
  padding: 8px;
  width: 35%;
  background-color: white;
  font-weight: 400;
}

/* Home Page Footer */
.hm-footer-container {
  background-color: #272121;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  height: 100px;
  width: 100%;
  font-size: 15px;
  padding: 15px;
}

.hm-footer-container li {
  padding: 5px;
}

.hm-footer-container li:nth-child(3) {
  padding: 0;
}

/* Base Header Styling */
.header-container {
  background-color: #8C1515;
  color: white;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
}

.header-container ul {
  margin: auto 5%;
  /* visibility: collapse; <<< TURN THIS ON ONCE HAMBURGER MENU EXISTS */
}

.header-container ul li {
  display: inline;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
}

.header-container a {
  color: white;
}

.header-container a:hover {
  text-decoration-line: underline;
}

/* Base Content Container Styling */
.pathway {
  background: #f6f6f6;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  /* height: 100px; */
  /* width: 100%; */
  /* text-align: center; */
  /* padding-top: 30px; */
  /* padding: 15px 0; */
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 20px 10%;
}

.pathway ul li {
  display: inline;
}

.pathway a {
  color: #666;
}

.pathway a:hover {
  color: #8C1515;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
}

.content-container h1 {
  font-size: 46px;
  font-weight: 500;
  color: #333;
}

.art-header {
  margin-top: 20px;
  text-align: left;
  width: 100%;
  font-size: 14px;
}

.art-header a {
  color: #d1d0d0;
}

.social-icons {
  margin: 30px 0px;
}

.social-icons a {
  border: 2px solid #ddd;
  border-radius: 50%;
  padding: 3px;
  font-size: 1.5em;
  text-align: center;
}

.social-icons a:nth-child(1):hover {
  color: #3b5998;
}

.social-icons a:nth-child(2):hover {
  color: #38A1F3;
}

.social-icons a:nth-child(3):hover {
  color: #dd4b39;
}

.social-icons a:nth-child(4):hover {
  color: #c8232c;
}

.social-icons a i {
  width: 1.4em;
}

/* Base Footer Styling */
.footer-container {
  background: #272121;
  height: 150px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.footer-container ul,
.hm-footer-container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.footer-container li {
  border-right: 1px solid white;
  padding: 0 10px;
}

.footer-container li:nth-child(3) {
  border: none;
}


/* Travel Page Styling */

#travel-main {
  margin: 10%;
}

.travel-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

#hr-social {
  width: 100%;
  margin-bottom: 20px;
  border: .7px solid #d1d0d0;
}