.rating-table {
  padding: 5px;
  outline: 2px solid lightgrey;
}

.rating-table th {
  padding: 5%;
  width: 50%;
}

.rating-table tr {
  padding: 5px;
  outline: 2px solid lightgrey;
}

.rating-table td {
  padding: 4%;
  text-align: center;
}

/* Home Page Modules */

.hm-h3,
.hm-p {
  color: black;
}

.hm-p {
  font-size: 14px;
}